title: '팽귄의 외부 저장소'
baseurl: 'https://seungyeop-lee.github.io/blog/'
languageCode: ko-KR
paginate: 5
theme: hugo-theme-stack

DefaultContentLanguage: ko

permalinks:
  post: /:sections/:slug/
  page: /:slug/

params:
  mainSections:
    - post
  featuredImageField: image
  rssFullContent: true
  # favicon:

  footer:
    since: 2021
    # customText:

  dateFormat:
    published: Jan 02, 2006
    lastUpdated: Jan 02, 2006 15:04 KST

  sidebar:
    subtitle: '읽은 것, 본 것, 배운 것, 삽질, etc'
    avatar:
      local: true
      src: img/avatar.png

  article:
    math: false
    license:
      enabled: true
      default: Licensed under CC BY-NC-SA 4.0

  comments:
    enabled: true
    provider: utterances
    utterances:
      repo: seungyeop-lee/blog
      issueTerm: pathname
      label: comment
      theme: preferred-color-scheme

  widgets:
    enabled:
      - search
      - tag-cloud
      - archives
    archives:
      limit: 5
    tagCloud:
      limit: 50

  opengraph:
    twitter:
      # Your Twitter username
      site: '@xbeast7'
      # Available values: summary, summary_large_image
      card: summary_large_image

  defaultImage:
    opengraph:
      enabled: true
      local: true
      src: img/avatar.png

  colorScheme:
    # Display toggle
    toggle: true
    # Available values: auto, light, dark
    default: dark

  imageProcessing:
    cover:
      enabled: true
    content:
      enabled: true

menu:
  main:
    - identifier: home
      name: Home
      url:
      weight: -100
      pre: home

    - identifier: archives
      name: Archives
      url: archives
      weight: -90
      pre: archives

    - identifier: search
      name: Search
      url: search
      weight: -70
      pre: search

    # - identifier: about
    #   name: About
    #   url: about
    #   weight: -60
    #   pre: user

    - identifier: github
      name: github
      url: https://github.com/seungyeop-lee
      weight: -40
      pre: github

related:
  includeNewer: true
  threshold: 60
  toLower: false
  indices:
    - name: tags
      weight: 100

    - name: categories
      weight: 200

markup:
  highlight:
    noClasses: false
